*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#121212;
font-family:Arial,sans-serif;
color:white;
text-align:center;
padding:20px;
}

h1{
font-size:48px;
margin-top:20px;
color:#ffb300;
}

p{
font-size:20px;
margin:10px;
}

h2,h3{
margin-top:25px;
margin-bottom:15px;
}

input[type=file]{
margin:20px;
font-size:18px;
}

select{
padding:12px;
font-size:18px;
border:none;
border-radius:10px;
margin:10px;
}

button{

background:#ff9800;
color:white;
border:none;
padding:15px 30px;
font-size:20px;
border-radius:15px;
cursor:pointer;

margin:15px;

width:300px;
max-width:90%;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#preview{
width:300px;
max-width:90%;
height:auto;
}
#result{

background:#222;

padding:20px;

border-radius:20px;

width:500px;

max-width:90%;

margin:auto;

margin-top:30px;

font-size:22px;

line-height:1.5;

}

canvas{

display:none;

}

@media(max-width:600px){

h1{

font-size:36px;

}

button{

font-size:18px;

}

#result{

font-size:20px;

}

}
#modes{

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

margin:20px;

}

.modeBtn{

width:120px;

padding:15px;

font-size:18px;

border-radius:15px;

background:#333;

color:white;

border:2px solid #00ffdd;

cursor:pointer;

transition:.3s;

}

.modeBtn:hover{

background:#ff9800;

transform:scale(1.05);

}

.selected{

background:#ff9800 !important;

color:white;

transform:scale(1.05);

box-shadow:0 0 15px rgba(255,152,0,0.7);

}
#uploadBox{

width:350px;
max-width:90%;

margin:auto;

padding:40px 20px;

background:#1e1e1e;

border:3px dashed #ff9800;

border-radius:20px;

cursor:pointer;

transition:.3s;

}

#uploadBox:hover{

transform:scale(1.03);

background:#252525;

}

.uploadIcon{

font-size:60px;

margin-bottom:10px;

}

#uploadBox h3{

margin:10px 0;

color:#ff9800;

}

#uploadBox p{

font-size:18px;

}

#score{
margin-top:15px;
font-size:22px;
font-weight:bold;
color:#ff9800;
}